<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas">
            <button>
                <i class="fas fa-search"></i>
            </button>
        </div>
        <p class="dues"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin targeta de crédito</p>
        <nav>
        <ul class="pb-15">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda<i class="fas fa-user"></i></a></li>
        </ul>
        <ul class="pb-15-2">
            <li><a href="">Creá tu cuenta<i class="fas fa-credit-card"></i></a></li>
            <li><a href="">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="">
    </div>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h5>MacBook Pro 2019</h5>
            </article>
        </section>
    </main>
    <footer>
        <div>
            <i class="fas fa-credit-card"></i>
            <h5>
                Pagá con tarjeta de crédito o en efectivo
            </h5>
            <p>
                Con MercadoCash tenés cuotas sin interés con targeta o efectivo en puntos de pago
            </p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h5>
                Envio gratis desde $ 2.500
            </h5>
            <p>
                Solo por estar registrad@ en MercadoLiebre tenés envios gratis en miles de productos. Es un veneficio de MercadoPuntos.
            </p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h5>
                Seguridad de principio a fin
            </h5>
            <p>
                ¿No te gusta? ¡Devolvélo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@
            </p>
        </div>
        <div class="copy">
            <small">Copyright © 1999-2021 MercadoLiebre S.R.L.</small>
        </div>
    </footer>
</body>
</html>